* {
  &:where(:not(html, head, audio, svg, svg *)) {
    all: unset;
    display: revert;
  }

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
section,
button {
  display: block;
}

img,
svg,
picture,
video,
audio,
canvas,
iframe {
  display: block;
}

img,
picture,
video {
  max-width: 100%;
}
